body {
    background-color: rgb(61, 146, 122);
}

#calculator{
    justify-content: center;
    background-color: grey;
    height: 200px;
}

#calculator, #buttons, .row1, .row2, .row3, .operators{
    display: flex;
}

#buttons{
    justify-content: center;
    align-items: center;
}

.row1, .row2, .row3, .operators{
    flex-direction: column;
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 8px;
    margin: 2px;
}